:root{
    --bgDefault:violet;
}
$text-color: #fff;
body{
    background-color:var(--bgDefault);
}
.container>h1{
    color: $text-color;
    border:3px solid #333;
    background:#000;
    span{
        padding:6px 8px;
        background:#f00;
        border:4px solid #000;
    }
}